<%= stylesheet_link_tag "contacts" %>

<div class="cont">
  <div class="contact-form">
    <h1 class="title">Contact Me</h1>
    <h2 class="subtitle">Please use form below</h2>
    <%= render 'form' %>
  </div>
</div>