<h2>Все Gists</h2>

<table class="table table-striped">
  <tr>
    <th><%= t('gists.question') %></th>
    <th><%= t('gists.url') %></th>
    <th><%= t('gists.user') %></th>
  </tr>

  <%= render @gists %>

</table>