<p>
<%= current_year %>,  
© tabobo <br>
<%= link_to 'TestGuru', 'https://github.com/tabobo/testguru', :target => "_blank" %> | 
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', :target => "_blank" %>
</p>